<!DOCTYPE html>
<html lang=en>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<meta name="description" content="dynamic menu on the Web">
<link rel="stylesheet" href="https://newcss.net/lite.css">
<script src="https://unpkg.com/vue"></script>
<title>dmenu on the Web</title>
</head>
<body>
<img width="100" src="https://s.natalian.org/2021-03-10/vue.svg">
<img width="100" src="https://s.natalian.org/2021-03-10/go.svg">
<img width="100" src="https://s.natalian.org/2021-03-10/sqlite.svg">
<div id="app">
<label>Lookup German word:
<input type="text" v-model.trim="word" v-on:keyup="signalChange" v-on:change="signalChange" list="words" autofocus>
</label>
<p>German was chosen since I feared the UA was autocompleting the words.</p>
<datalist id="words">
<option v-for="word in words">${word}</option>
</datalist>
Query: ${query} Results: ${words.length} Time taken: ${fetchtime} ms
</div>
<script>
	const app = new Vue({
		el:'#app',
		delimiters: ['${', '}'],
		data() {
			return {
				word:'',
				query:'',
				words:[],
				fetchtime: 0
			}
		},
		methods: {
			async signalChange(){
				console.log(this.word)
				if (this.word.length > 2 && this.word.slice(0,3) != this.query) {
					this.query = this.word.slice(0,3)
					console.log("Query", this.query)
					let time1 = performance.now()
					let response = await fetch('/?q=' + this.query)
					this.words = await response.json()
					let time2 = performance.now()
					this.fetchtime = time2 - time1
				}
			}
		}
	})
</script>
<p><a href="https://github.com/kaihendry/dfts">Source code</a></p>
</body>
</html>
