<!DOCTYPE html>
<html lang=en>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<meta name="description" content="dynamic menu on the Web">
<link rel="stylesheet" href="https://newcss.net/lite.css">
<script src="https://unpkg.com/vue"></script>
<title>dmenu on the Web</title>
</head>
<body>
<div id="app">
<label>Lookup word:
<input type="text" v-model="word" v-on:change="signalChange" list="words" autofocus>
</label>
<datalist id="words">
<option v-for="word in words">${word}</option>
</datalist>
</div>
<script>
	const app = new Vue({
		el:'#app',
		delimiters: ['${', '}'],
		data() {
			return {
				word:'',
				words:[]
			}
		},
		methods: {
			signalChange(evt){
				console.log(this.word)
				fetch('/?q=' + this.word)
					.then(res => res.json())
					.then(res => { this.words = res })
			}
		}
	})
</script>
</body>
</html>
